@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Mochiy+Pop+One&display=swap");
.texto {
  font-size: 40px;
}

.body {
  background-image: url(../imagenes/Fondo.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: sans-serif;
}

.link {
  font-size: 21px;
  height: 20px;
  white-space: 25px;
}
.link:hover {
  background-color: rgb(234, 175, 247);
}

h1 {
  font-size: 80px;
  margin-top: 60px;
  margin-bottom: 90px;
}

h2 {
  font-size: 65px;
  margin-top: 60px;
  margin-bottom: 90px;
  margin-left: 2%;
}

p {
  font-size: 30px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
}

form {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

ul li {
  display: inline-block;
}

.barra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 30px;
  border-style: dashed;
  border-color: rgb(199, 151, 245);
}

.altura {
  height: 100%;
}

.caja {
  width: 300px;
  height: 100px;
  color: black;
  background: radial-gradient(red, yellow);
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-style: dashed;
  border-radius: 35%;
  font-size: 2rem;
  text-align: center;
  /* resumen valido border: 3px solid red;*/
  margin-top: 50px;
  margin-left: 25%;
  transition-duration: 0.5s;
}
.caja:hover {
  transform: scale(1.5);
}

.caja2 {
  background-color: rgb(196, 148, 232);
  background: linear-gradient(red, blue);
  width: 300px;
  height: 100px;
  color: black;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-style: dashed;
  border-radius: 35%;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  /* resumen valido border: 3px solid red;*/
  margin-top: 150px;
  margin-left: 25%;
}
.caja2:hover {
  scale: 1.5;
}

.contenedor-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin: 15px;
}

.caja__publicidad {
  background-color: rgb(218, 184, 244);
  color: rgb(6, 6, 6);
  width: 300px;
  height: 100px;
  border-color: rgb(0, 0, 0);
  border-width: 3px;
  border-style: dashed;
  position: fixed;
  font-size: 2rem;
  border-radius: 45px;
  text-align: center;
  /* resumen valido border: 3px solid red;*/
  display: flex;
  justify-content: flex-end;
}
.caja__publicidad:hover {
  transform: scale(1.2);
  background-color: aqua;
}

.caja__terminos {
  width: vw;
  height: 120px;
  color: rgb(239, 95, 95);
  border-color: rgb(218, 184, 244);
  border-style: dashed;
  font-size: 27.5px;
  /* resumen valido border: 3px solid red;*/
  margin-top: 50px;
}

.prod {
  padding: 10px;
  height: 50px;
}

.centrar-productos {
  display: flex;
  justify-content: center;
  align-content: center;
}

.productos {
  font-size: 23px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-width: 2px;
  border-style: dashed;
  border-color: rgb(199, 151, 245);
}

.card:hover {
  transform: scale(1.2);
}

.card-body {
  background-color: rgb(206, 167, 244);
}

.redes {
  font-size: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100%;
  height: 120px;
  grid-template-areas: "facebook instagram twitter whatsapp";
  column-gap: 20px;
}

.arregloimgredes {
  width: 286px;
  height: 280px;
}

@media (max-width: 1024px) {
  .productos {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(199, 151, 245);
  }
  .prod {
    padding: 10px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .productos {
    display: flex;
    flex-direction: column;
    flex-wrap: initial;
    font-size: 12px;
    height: 500px;
    width: 200px;
    border-style: dashed;
    border-color: rgb(199, 151, 245);
  }
  nav ol li {
    font-size: 18px;
  }
  .prod {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 200px;
  }
  .tarjeta {
    font-size: 2rem;
    background-color: rgb(235, 190, 239);
    height: 200px;
    width: 100vh;
    border-style: dashed;
    border-color: rgb(174, 79, 241);
    overflow: auto;
  }
  .tarjeta__descripcion {
    font-size: 15px;
  }
  .tarjeta--destacado {
    font-size: 2rem;
    background-color: rgb(233, 206, 244);
  }
  .tarjeta__titulo--destacado {
    font-size: 2rem;
    background-color: rgb(43, 174, 226);
  }
  .caja__terminos {
    font-size: 18px;
  }
}
@media (max-width: 476px) {
  .instagram {
    font-size: 13px;
  }
  .facebook {
    font-size: 13px;
  }
  .Twitter {
    font-size: 13px;
  }
  .redes-tarjeta {
    font-size: 13px;
  }
  .productos {
    overflow-y: scroll;
  }
  .pie {
    font-size: 10px;
    text-align: right;
    background-color: rgba(218, 131, 247, 0.815);
  }
  .caja {
    width: 100px;
    height: 50px;
    color: black;
    background: radial-gradient(red, yellow);
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: dashed;
    justify-content: left;
    font-size: 15px;
    text-align: center;
    /* resumen valido border: 3px solid red;*/
    margin-top: 50px;
  }
  .caja2 {
    background-color: rgb(196, 148, 232);
    background: linear-gradient(red, blue);
    width: 100px;
    height: 50px;
    color: black;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: dashed;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    /* resumen valido border: 3px solid red;*/
    margin-top: 50px;
  }
  .caja__publicidad {
    background-color: rgb(218, 184, 244);
    color: aliceblue;
    width: 100px;
    height: 50px;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: dashed;
    position: fixed;
    font-size: 10px;
    /* resumen valido border: 3px solid red;*/
    display: flex;
    justify-content: flex-end;
    transform: translate(200px, -700px);
  }
  .mapa {
    width: 250px;
  }
  .productos {
    font-size: 10px;
  }
}
.pie {
  font-size: 20px;
  text-align: right;
}

footer {
  height: 100px;
  background-color: rgba(232, 213, 249, 0.497);
  margin-top: 40px;
}

.fote {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fote p {
  font-size: 28px;
  padding: 0%;
  margin: 0%;
}

.iconosfooter i {
  padding: 40px;
  font-size: 40px;
  color: red;
}

@media (max-width: 768px) {
  .fote p {
    font-size: 22px;
  }
}
@media (max-width: 476px) {
  .fote p {
    font-size: 15px;
  }
  .iconosfooter i {
    padding: 30px;
    font-size: 30px;
  }
}
.titulo {
  display: flex;
  justify-content: center;
}

.centralo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.edit-bordes {
  border-style: dashed;
  border-color: rgb(234, 175, 247);
  border-radius: 25%;
  margin: 1px;
}

@media (min-width: 450px) {
  .arregloimg {
    width: 75vh;
  }
}
html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

article div > p {
  font-size: 2rem;
}

::marker {
  background-color: rgba(205, 147, 249, 0.876);
}

.espacio {
  gap: 55px;
}

.activo {
  background-color: rgba(125, 68, 232, 0.312);
}
.activo:active {
  background-color: rgba(205, 147, 249, 0.876);
}

ol {
  padding: 10px;
  font-size: 32px;
}
olli {
  font-size: 30px;
}

input:focus {
  border: 6px solid rgba(205, 147, 249, 0.876);
}

.img-menu {
  height: 55px;
}

h1 {
  padding: 10px;
  font-size: 50px;
}

h2 {
  padding: 10px;
  font-size: 40px;
}

h3 {
  padding: 10px;
  font-size: 35px;
}

h4 {
  padding: 10px;
  font-size: 30px;
}

p {
  padding: 10px;
  font-size: 25px;
}

.foto-logo {
  background-image: url(./imagenes/logomejorado.png);
  height: 50px;
  display: flex;
  flex-direction: wrap;
  height: 250px;
  margin-left: 50%;
  background-position: center center;
  background: fixed;
}

.centrar {
  justify-content: space-around;
}

.formulario {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 22px;
  }
  .texto {
    font-size: 20px;
  }
  .titulo {
    font-size: 45px;
  }
  .barra {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-around;
    border-style: none;
    gap: 5px;
    padding: 30px;
  }
  .reparar {
    display: flex;
    height: 140px;
  }
  .link {
    font-size: 25px;
  }
  .foto-logo {
    justify-content: start;
    height: 120px;
    align-items: initial;
  }
  ol li {
    font-size: 25px;
  }
}
@media (max-width: 476px) {
  .link {
    font-size: 18px;
  }
  .texto {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  .titulo {
    font-size: 40px;
  }
  .subTitulo {
    font-size: 35px;
  }
  h2 {
    font-size: 22px;
  }
  article div > p {
    font-size: 1rem;
  }
  ol li {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
