html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article div>p {
    font-size: 2rem;
}

::marker {
    background-color: rgba(205, 147, 249, 0.876);
    ;
}

.espacio {
    gap: 55px;
}

.activo {
    background-color: rgba(125, 68, 232, 0.312);

    &:active {
        background-color: rgba(205, 147, 249, 0.876);
        ;
    }
}

ol {
    padding: 10px;
    font-size: 32px;

    &li {
        font-size: 30px;
    }
}

input:focus {
    border: 6px solid rgba(205, 147, 249, 0.876);
}

.img-menu {
    height: 55px;
}

h1 {
    padding: 10px;
    font-size: 50px;
}

h2 {
    padding: 10px;
    font-size: 40px;
}

h3 {
    padding: 10px;
    font-size: 35px;
}

h4 {
    padding: 10px;
    font-size: 30px;
}

p {
    padding: 10px;
    font-size: 25px;
}

.foto-logo {
    background-image: url(./imagenes/logomejorado.png);
    height: 50px;
    display: flex;
    flex-direction: wrap;
    height: 250px;
    margin-left: 50%;
    background-position: center center;
    background: fixed;
}

.centrar {
    justify-content: space-around;
}

@media (max-width: 768px) {


    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 22px;
    }

    .texto {
        font-size: 20px;
    }

    .titulo {
        font-size: 45px;
    }

    .barra {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        justify-content: space-around;
        border-style: none;
        gap: 5px;
        padding: 30px;
    }

    .reparar {
        display: flex;
        height: 140px;
    }

    .link {
        font-size: 25px;
    }

    .foto-logo {
        justify-content: start;
        height: 120px;
        align-items: initial;
    }

    ol li {
        font-size: 25px;
    }
}

@media (max-width: 476px) {

    .link {
        font-size: 18px;
    }

    .texto {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    .titulo {
        font-size: 40px;
    }

    .subTitulo {
        font-size: 35px;
    }

    h2 {
        font-size: 22px;
    }

    article div>p {
        font-size: 1rem;
    }

    ol li {
        font-size: 18px;
    }
}