.texto {
    font-size: 40px;
}


.body {
    background-image: url(../imagenes/Fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;

}

.link {
    font-size: 21px;
    height: 20px;
    white-space: 25px;

    &:hover {
        background-color: rgb(234, 175, 247);
        ;
    }
}

h1 {
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 90px;
}

h2 {
    font-size: 65px;
    margin-top: 60px;
    margin-bottom: 90px;
    margin-left: 2%;
}

p {
    font-size: 30px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;

}

form {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
}

.barra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30px;
    border-style: dashed;
    border-color: rgb(199, 151, 245);
}

.altura {
    height: 100%;
}

$colores: (
    colorNegro: black,
    violeta: rgb(249, 185, 249),
    rojo: rgb(239, 95, 95),
    piel: rgba(205, 147, 249, 0.876)
);