.texto {
    font-size: 40px;
}


.body {
    background-image: url(../imagenes/Fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: sans-serif;
}

.link {
    font-size: 21px;
    height: 20px;
    white-space: 25px;

    &:hover {
        background-color: red;
    }
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

form {
    font-size: 25px;
}

ul li {
    display: inline-block;
}

.barra {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30px;
    border-style: dashed;
    border-color: rgb(199, 151, 245);
}

.altura {
    height: 100%;
}

$colores: (
    colorNegro: black,
    violeta: rgb(249, 185, 249),
    rojo: rgb(239, 95, 95)
);