.pie {
    font-size: 20px;
    text-align: right;
}

.fote {
    height: 50px;
    background-color: rgba(232, 213, 249, 0.497);
    text-align: center;
    display: flex;
    justify-content: center;

    & p {
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .fote p {
        font-size: 13px;
    }
}

@media (max-width: 476px) {
    .fote p {
        font-size: 10px;
    }
}